/practise.ipynb
/T-SNE.ipynb
/Untitled1.ipynb
/.env3
/Data/pdb_seqres.txt
/Data/protein_chains.txt
/Data/seq.txt
/frags
*.sh
*.err
*.out
/data/finetuning_data
/data/models
/data/pretrain_tfrecords
/finetune/classification/__pycache__/
/finetune/qa/__pycache__/
/finetune/tagging/__pycache__/
/__pycache__/
lib/__pycache__/
finetune/__pycache__/
pretrain/__pycache__/
test.fasta
results/CU_test_results.txt
results/MN_test_results.txt
results/FE3_test_results.txt
